h1{
    color: aqua;
    font-size: 4rem;
    margin-left: auto;
    margin-right: auto;
    width: 6em
}
#cor-selfie{
    display: block;
    margin-left: auto;
    margin-right: auto ;
    background-color: gold;
}
.imagem-meio{
    display: block;
    margin-left: auto;
    margin-right: auto ;
    background-color: brown;
}

figcaption{
    color: rgb(253, 0, 0);
    font-size: 2rem;
    margin-left: auto;
    margin-right: auto;
    width: 6em;
    position:justify;
}
body{
    background-color: rgb(200, 162, 200);
    margin-right:0;
    
}
li{
    
    padding: inherit;
    background: rgb(22, 204, 143);
    
    border: 0.25rem solid transparent;
    margin: 0.6rem;
    
    
    
  }
.esquerda{
    padding-left: 0;
    padding-left: 0;
    margin-left: 0;

}
#contato{
    color:olive;
    font-size: 2rem;
}
a~a{
    font-size: 2rem;
    border: 202rem;
    color:olive;
    margin: 50px; ;
    
}
p{
    font-size: 1.5rem;
}
