a{
    font-size: 2rem;
    border: 202rem;
    color:olive;
    margin-left: 450px; ;
    
}
body{
    background-color: rgb(200, 162, 200);
    margin-right:0;
    
}
.imagem-meio{
    display: block;
    margin-left: auto;
    margin-right: auto ;
    background-color: brown;
}
.meio-azul{
    color: aqua;
    font-size: 4rem;
    margin-left: auto;
    margin-right: auto;
    width: 17em;
}
p{
    font-size: 2rem;
}